{
    "swagger": "2.0",
    "info": {
        "description": "Contrato Swagger da Aplicação Sigtv....",
        "version": "Sigtv API",
        "title": "SIGTV"
    },
    "host": "sigted.dsv.mctic.gov.br:-1",
    "basePath": "/sigtv-backend/rest",
    "tags": [
        {
            "name": "analise-proposta"
        },
        {
            "name": "analise-solicitacao"
        },
        {
            "name": "arquivo"
        },
        {
            "name": "assinatura"
        },
        {
            "name": "controle-visual"
        },
        {
            "name": "cronograma-prestacao-conta"
        },
        {
            "name": "documento"
        },
        {
            "name": "encaminhamento"
        },
        {
            "name": "endereco"
        },
        {
            "name": "etapa-proposta"
        },
        {
            "name": "fonte-recurso"
        },
        {
            "name": "instituicao"
        },
        {
            "name": "liberacao-orcamentaria"
        },
        {
            "name": "modelo-parecer"
        },
        {
            "name": "natureza-despesa"
        },
        {
            "name": "parecer"
        },
        {
            "name": "perfil"
        },
        {
            "name": "pessoa-fisica"
        },
        {
            "name": "pessoa-juridica"
        },
        {
            "name": "proposta"
        },
        {
            "name": "responsavel-unidade-tecnica"
        },
        {
            "name": "siape"
        },
        {
            "name": "siop"
        },
        {
            "name": "sistema"
        },
        {
            "name": "situacao-analise"
        },
        {
            "name": "solicitacao"
        },
        {
            "name": "solicitante-integrante"
        },
        {
            "name": "gerenciar-ted"
        },
        {
            "name": "teste"
        },
        {
            "name": "tipo-situacao-solicitacao"
        },
        {
            "name": "unidade-medida"
        },
        {
            "name": "unidade-organizacional"
        },
        {
            "name": "unidade-tecnica"
        },
        {
            "name": "usuario-logado"
        },
        {
            "name": "usuario-sistema"
        }
    ],
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "/analise-proposta/existe-analise-concluida/{idProposta}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "existeAnaliseConcluida",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/listar/propostas": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "listarPropostasPorUnidadeResponsavel",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/areas-responsaveis": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "obterAreasResponsaveis",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/areas-responsaveis/{idProposta}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "obterAreasResponsaveis",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/historico-analise/{idProposta}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "obterHistoricoAnalise",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/historico-parecer/{idProposta}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "obterHistoricoParecer",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/consultar": {
            "post": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "consultar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOPropostaDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/distribuir": {
            "post": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "distribuir",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DistribuirPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/iniciar-analise": {
            "post": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "iniciarAnalise",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AnalisePropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/{id}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "obterAnalisePorId",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/cancelar-analise": {
            "post": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "cancelarAnalise",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/proposta/{idProposta}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "obterAnalisePorIdProposta",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/situacao/obter": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "obterTodas",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/encerrar-proposta": {
            "post": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "encerrarProposta",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/EncerramentoPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/verificar-proposta-analisada/proposta/{idProposta}/unidade/{idUnidade}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "verificarPropostaAnalisada",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "idUnidade",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta": {
            "post": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "salvar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AnalisePropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-proposta/dados-documento/{idParecer}": {
            "get": {
                "tags": [
                    "analise-proposta"
                ],
                "operationId": "consultarDadosDocumento",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idParecer",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-solicitacao/historico-solicitacao/{id}": {
            "get": {
                "tags": [
                    "analise-solicitacao"
                ],
                "operationId": "obterHistoricoSolicitacao",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-solicitacao/situacao-solicitacao-usuario-autenticado": {
            "get": {
                "tags": [
                    "analise-solicitacao"
                ],
                "operationId": "consultarSituacaoSolicitacaoUsuarioLogado",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-solicitacao/xls": {
            "post": {
                "tags": [
                    "analise-solicitacao"
                ],
                "operationId": "exportarXLS",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOAnaliseSolicitacaoAcessoDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-solicitacao/situacao/{id}": {
            "get": {
                "tags": [
                    "analise-solicitacao"
                ],
                "operationId": "consultarPorIdSolicitacao",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-solicitacao": {
            "post": {
                "tags": [
                    "analise-solicitacao"
                ],
                "operationId": "salvar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AnaliseSolicitacaoVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-solicitacao/situacao": {
            "put": {
                "tags": [
                    "analise-solicitacao"
                ],
                "operationId": "atualizarSituacao",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/analise-solicitacao/obter-solicitacoes-analise": {
            "post": {
                "tags": [
                    "analise-solicitacao"
                ],
                "operationId": "obterSolicitacoesParaAnalise",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOAnaliseSolicitacaoAcessoDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/arquivo/upload": {
            "post": {
                "tags": [
                    "arquivo"
                ],
                "operationId": "uploadFile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/FileVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/arquivo/{id}": {
            "get": {
                "tags": [
                    "arquivo"
                ],
                "operationId": "obter",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/assinatura/criar-documento": {
            "post": {
                "tags": [
                    "assinatura"
                ],
                "summary": "Criar documento",
                "description": "",
                "operationId": "criarDocumentoComAssinatura",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ArquivoUsuarioVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/assinatura/cancelar/{uuid}/documento": {
            "delete": {
                "tags": [
                    "assinatura"
                ],
                "summary": "Cancelar assinaturas documento",
                "description": "",
                "operationId": "cancelarAssinatura",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/assinatura/documento/{uuid}": {
            "post": {
                "tags": [
                    "assinatura"
                ],
                "summary": "Assinar documento",
                "description": "",
                "operationId": "assinarDocumento",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UsuarioSenhaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/assinatura/{uuid}/documento-assinado": {
            "get": {
                "tags": [
                    "assinatura"
                ],
                "operationId": "getArquivoAssinado",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/assinatura/documento/{uuid}/assinante": {
            "post": {
                "tags": [
                    "assinatura"
                ],
                "summary": "Assinar documento definindo assinante",
                "description": "",
                "operationId": "assinarDocumentoDefinindoAssinante",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UsuarioSenhaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/assinatura/{uuid}": {
            "get": {
                "tags": [
                    "assinatura"
                ],
                "summary": "Recuperar todas assinaturas do documento",
                "description": "",
                "operationId": "obterTodasAssinatura",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/controle-visual/item-tela": {
            "get": {
                "tags": [
                    "controle-visual"
                ],
                "operationId": "obterItensTela",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/controle-visual/menu": {
            "get": {
                "tags": [
                    "controle-visual"
                ],
                "operationId": "obterItensMenu",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/cronograma-prestacao-conta/detalhar/{id}": {
            "get": {
                "tags": [
                    "cronograma-prestacao-conta"
                ],
                "operationId": "detalhar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                },
                "deprecated": true
            }
        },
        "/documento": {
            "post": {
                "tags": [
                    "documento"
                ],
                "operationId": "incluir",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DocumentoPessoaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/documento/pessoa/{id}": {
            "get": {
                "tags": [
                    "documento"
                ],
                "operationId": "obterPor",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/encaminhamento": {
            "get": {
                "tags": [
                    "encaminhamento"
                ],
                "operationId": "obter",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/endereco/uf": {
            "get": {
                "tags": [
                    "endereco"
                ],
                "operationId": "obterEndereco",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/etapa-proposta": {
            "get": {
                "tags": [
                    "etapa-proposta"
                ],
                "operationId": "obterEtapaProposta",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/etapa-proposta/campos/{idEtapa}": {
            "get": {
                "tags": [
                    "etapa-proposta"
                ],
                "operationId": "obterPorEtapa",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idEtapa",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/fonte-recurso/{id}": {
            "get": {
                "tags": [
                    "fonte-recurso"
                ],
                "operationId": "obterFonteRecurso",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/fonte-recurso": {
            "get": {
                "tags": [
                    "fonte-recurso"
                ],
                "operationId": "obterFontesRecursos",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/fonte-recurso/obter": {
            "post": {
                "tags": [
                    "fonte-recurso"
                ],
                "operationId": "obterFontesRecursosAutoComplete",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOFonteRecursoVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/unidade-descentralizada/{nome}": {
            "get": {
                "tags": [
                    "instituicao"
                ],
                "summary": "Obter Unidades Descentralizadas",
                "description": "Unidades Descentralizadas: ",
                "operationId": "obterUnidadesDescentralizadas",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nome",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/matricula/{matricula}": {
            "get": {
                "tags": [
                    "instituicao"
                ],
                "operationId": "consultarPorCodigoUnidade",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "matricula",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/unidade-descentralizadora/{nome}": {
            "get": {
                "tags": [
                    "instituicao"
                ],
                "summary": "Obter Unidades Descentralizadoras",
                "description": "Unidades Descentralizadoras: ",
                "operationId": "obterUnidadesDescentralizadoras",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "nome",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/obter-unidades-descentralizadoras": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "operationId": "obterUnidadesDescentralizadoras",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOUnidadeDescentralizadoraDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/ativar-unidade-descentralizadora": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "operationId": "ativarUnidadeDescentralizadora",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/inativar-unidade-descentralizadora": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "operationId": "inativarUnidadeDescentralizadora",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/cadastrar-unidade-descentralizadora": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "summary": "Cadastrar Unidade Descentralizadora",
                "description": "Unidade Gestora/Responsavel: Codigo Unidade Gestora,Email e Telefone/idPessoa, matricula, cargo, email, telefone;",
                "operationId": "cadastrarUnidadeDescentralizadora",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DadosDescentralizadoraVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/alterar-unidade-descentralizadora": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "summary": "Alterar Unidade Descentralizadora",
                "description": "Unidade Gestora/Responsavel: Codigo Unidade Gestora,Email e Telefone/idPessoa, matricula, cargo, email, telefone;",
                "operationId": "alterarUnidadeDescentralizadora",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DadosDescentralizadoraVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/salvar-unidade-plano-orcamentario": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "summary": "Cadastrar Unidade Descentralizadora Plano Orçamentario",
                "description": "Unidade Gestora Plano Orçamentario: Lista de id Plano Orcamentarios",
                "operationId": "cadastrarUnidadePlanoOrcamentario",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DadosUnidadePlanoOrcamentarioVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/salvar-unidade-tecnica-vinculo": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "summary": "Cadastrar Unidade Descentralizadora Unidades Tecnicas",
                "description": "Lista de Unidade Tecnica: Lista de Instituicao Unidade Tecnica, Listas de id Responsaveis e Listas de id Plano Orcamentarios",
                "operationId": "cadastrarUnidadeTecnicaVinculo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DadosUnidadeTecnicaVinculoVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/recuperar-unidade-descentralizadora/{codigoUnidadeGestora}": {
            "get": {
                "tags": [
                    "instituicao"
                ],
                "summary": "Recuperar Unidade Descentralizadora",
                "description": "",
                "operationId": "recuperarUnidadeDescentralizadora",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "codigoUnidadeGestora",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/verificar-usuario-vinculado": {
            "post": {
                "tags": [
                    "instituicao"
                ],
                "operationId": "verificarDescentralizadoraRepresentanteOuResponsavel",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/VerificaUsuarioVinculadoVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/instituicao/obter-responsaveis/{idInstituicao}/{idUnidadeTecnica}": {
            "get": {
                "tags": [
                    "instituicao"
                ],
                "operationId": "obterResponsaveisUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idInstituicao",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "idUnidadeTecnica",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/liberacao-orcamentaria/{id}": {
            "get": {
                "tags": [
                    "liberacao-orcamentaria"
                ],
                "operationId": "obter",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/liberacao-orcamentaria": {
            "post": {
                "tags": [
                    "liberacao-orcamentaria"
                ],
                "operationId": "consultar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOLiberacaoOrcamentariaDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/modelo-parecer": {
            "get": {
                "tags": [
                    "modelo-parecer"
                ],
                "operationId": "obterTodos",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/natureza-despesa/{id}": {
            "get": {
                "tags": [
                    "natureza-despesa"
                ],
                "operationId": "obterNaturezaDespesaPorId",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/natureza-despesa": {
            "get": {
                "tags": [
                    "natureza-despesa"
                ],
                "operationId": "obterTodasNaturezasDespesa",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/natureza-despesa/obter": {
            "post": {
                "tags": [
                    "natureza-despesa"
                ],
                "operationId": "obterNaturezaDespesa",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTONaturezaDespesaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/espelho-stream/{id}": {
            "post": {
                "tags": [
                    "parecer"
                ],
                "summary": "Gerar ou Exportar Espelho Parecer PDF em stream.",
                "description": "Exportar Espelho Parecer",
                "operationId": "exportarPDFstream",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/assinar/{id}": {
            "put": {
                "tags": [
                    "parecer"
                ],
                "operationId": "gerarParecerAssinado",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ArquivoUsuarioVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/apoiar": {
            "post": {
                "tags": [
                    "parecer"
                ],
                "operationId": "apoiar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ApoiarParecerVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/consultar": {
            "post": {
                "tags": [
                    "parecer"
                ],
                "operationId": "obterPareceres",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOAnaliseParecerDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/aprovar": {
            "put": {
                "tags": [
                    "parecer"
                ],
                "operationId": "aprovar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AnaliseParecerUsuarioSenhaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/situacao/obter": {
            "get": {
                "tags": [
                    "parecer"
                ],
                "operationId": "obterSituacoesFiltro",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/rejeitar": {
            "put": {
                "tags": [
                    "parecer"
                ],
                "operationId": "rejeitar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AnaliseParecerVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/registro-ted": {
            "put": {
                "tags": [
                    "parecer"
                ],
                "operationId": "verificarRegistroTed",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/gerar": {
            "post": {
                "tags": [
                    "parecer"
                ],
                "operationId": "gerar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/GeracaoParecerVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/espelho/{id}": {
            "get": {
                "tags": [
                    "parecer"
                ],
                "operationId": "gerarEspelho",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/dados-documento/{id}": {
            "get": {
                "tags": [
                    "parecer"
                ],
                "operationId": "consultarDadosDocumento",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/justificativa": {
            "get": {
                "tags": [
                    "parecer"
                ],
                "operationId": "consultarJustificativa",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/analise-unidade/{id}": {
            "get": {
                "tags": [
                    "parecer"
                ],
                "operationId": "obterParecerPorAnaliseUnidade",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/parecer/situacao-parecer/obter": {
            "get": {
                "tags": [
                    "parecer"
                ],
                "operationId": "obterSituacoesParecerFiltro",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/perfil/externos": {
            "get": {
                "tags": [
                    "perfil"
                ],
                "operationId": "obterPerfisUsuariosExternos",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/perfil": {
            "get": {
                "tags": [
                    "perfil"
                ],
                "operationId": "obterTodos",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/pessoa-fisica/cpf/{cpf}": {
            "get": {
                "tags": [
                    "pessoa-fisica"
                ],
                "operationId": "obterPessoaFisicaPorCpf",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "cpf",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/pessoa-fisica/ids-momento/{ids}": {
            "get": {
                "tags": [
                    "pessoa-fisica"
                ],
                "operationId": "obterPorIdsMomento",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/pessoa-fisica/basico/cpf/{cpfs}": {
            "get": {
                "tags": [
                    "pessoa-fisica"
                ],
                "summary": "Recupera uma lista com 'dados básicos' de Pessoa física por apenas um 'CPF' ou vários 'CPF's' separados por ',' .",
                "description": "Retorna um objeto de PessoaFisicaVO.",
                "operationId": "recuperarDadosBasicosPorCPFs",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "cpfs",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PessoaFisicaVO"
                            }
                        }
                    }
                }
            }
        },
        "/pessoa-fisica/{id}": {
            "get": {
                "tags": [
                    "pessoa-fisica"
                ],
                "operationId": "obterPorId",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/pessoa-juridica/cnpj/{cnpj}": {
            "get": {
                "tags": [
                    "pessoa-juridica"
                ],
                "operationId": "obterPorCNPJ",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "cnpj",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/pessoa-juridica/ids-momento/{ids}": {
            "get": {
                "tags": [
                    "pessoa-juridica"
                ],
                "operationId": "obterPorIdsMomento",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/pessoa-juridica/{id}": {
            "get": {
                "tags": [
                    "pessoa-juridica"
                ],
                "operationId": "obterPor",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/salvar-descricao-proposta": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "salvarDescricaoProposta",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DescricaoPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/download/arquivo/{id}": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "downloadArquivo",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOPropostaDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/meta/listar-por-proposta/{id}": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "listarMetasPorProposta",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/analise/{id}": {
            "get": {
                "tags": [
                    "proposta"
                ],
                "operationId": "obterParaAnalise",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/meta/salvar/{id}": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "salvarMeta",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/MetaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/responsavel-assinatura": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "responsavelAssinatura",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ManterPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/xls": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "exportarXLS",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOPropostaDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/meta/{id}": {
            "delete": {
                "tags": [
                    "proposta"
                ],
                "operationId": "excluirMeta",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/{id}": {
            "get": {
                "tags": [
                    "proposta"
                ],
                "operationId": "obter",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/plano-orcamentario/excluir/{id}": {
            "delete": {
                "tags": [
                    "proposta"
                ],
                "operationId": "excluir",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/consultar": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "consultar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOPropostaDTO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/salvar-execucao-previsao": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "salvarExecucaoPrevisao",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CronogramaExecPrevOrcamentariaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/complemento-cadastro": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "salvarComplementoCadastro",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DadosComplementoCadastroVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/salvar-prestacao-contas": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "salvarPrestacaoContas",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/DadosPrestacaoContaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/alterar": {
            "put": {
                "tags": [
                    "proposta"
                ],
                "operationId": "alterar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ManterPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/cancelar": {
            "put": {
                "tags": [
                    "proposta"
                ],
                "operationId": "cancelar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/CancelarPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/objetos": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "obterObjetos",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOObjetoPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/titulos": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "obterTitulos",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOPropostaVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/unidades": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "obterUnidades",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/PaginacaoDTOInstituicaoVO"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/concluir/{idProposta}": {
            "put": {
                "tags": [
                    "proposta"
                ],
                "operationId": "concluir",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/situacao/obter": {
            "get": {
                "tags": [
                    "proposta"
                ],
                "operationId": "obterSituacoesFiltro",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/espelho/{id}": {
            "get": {
                "tags": [
                    "proposta"
                ],
                "operationId": "gerarEspelho",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/meta/pai/{id}": {
            "delete": {
                "tags": [
                    "proposta"
                ],
                "operationId": "excluirMetaPai",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/proposta/gerar-termo-referencia/{idProposta}": {
            "post": {
                "tags": [
                    "proposta"
                ],
                "operationId": "gerarTermoReferencia",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/responsavel-unidade-tecnica/descentralizadora/{idProposta}": {
            "get": {
                "tags": [
                    "responsavel-unidade-tecnica"
                ],
                "operationId": "responsaveisDescentralizadora",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "idProposta",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/responsavel-unidade-tecnica": {
            "post": {
                "tags": [
[...]
